.box {
    margin-top:10px;
    margin-bottom: 20px;
    padding-top:20px;
    padding-left:20px;
    height: 600px;
    background-color:rgba(0, 0, 0, 0.979);
}
.linked {
    height: 200px;
}
.title{
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    font-size:35px;
}
.font{
    font-size: 20px;
    background-color: black;
}