.footer{
    height: 50px;
    color: rgba(253, 250, 250, 0.61);
    font-family: 'Poiret One', cursive;
    background-color: black;
    font-size: 17px;
    padding-left:300px;
    font-style: oblique;
}
